<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Flower Document</title>
</head>
<body>
    <form action="/predict" method = "POST">
        <label >Sepal_length</label>
        <input type="text" name="sepal_length" placeholder="Enter Sepal_length"><br><br>
        <label >Sepal_width</label>
        <input type="text" name="sepal_width" placeholder="Enter Sepal_width"><br><br>
        <label >Petal_length</label>
        <input type="text" name="petal_length" placeholder="Enter Petal_length"><br><br>
        <label >Species</label>
        <input type="text" name="species" placeholder="Enter Species"><br><br>
        <input type="Submit" value="PREDICT">



    </form>
</body>
</html>